name = "Reactant"
uuid = "3c362404-f566-11ee-1572-e11a4b42c853"
authors = [
    "William Moses <wmoses@mit.edu>",
    "Valentin Churavy <vchuravy@mit.edu>",
    "Sergio Sánchez Ramírez <sergio.sanchez.ramirez@bsc.es>",
]
version = "0.1.1"

[deps]
CEnum = "fa961155-64e5-5f13-b03f-caf6b980ea82"
Cassette = "7057c7e9-c182-5462-911a-8362d720325c"
Enzyme = "7da242da-08ed-463a-9acd-ee780be4f1d9"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Reactant_jll = "0192cb87-2b54-54ad-80e0-3be72ad8a3c0"

[weakdeps]
ArrayInterface = "4fba245c-0d91-5ea0-9b3e-6abc04ee57a9"
NNlib = "872c559c-99b0-510c-b3b7-b6c96a88d5cd"

[extensions]
ReactantArrayInterfaceExt = "ArrayInterface"
ReactantNNlibExt = "NNlib"

[compat]
ArrayInterface = "7.10"
CEnum = "0.4, 0.5"
Cassette = "0.3"
Enzyme = "0.11, 0.12"
NNlib = "0.9"
Preferences = "1.4"
Reactant_jll = "0.0.8"
julia = "1"
