name: CI
on:
  pull_request:
  push:
    branches:
      - main
      - release-*
    tags: '*'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.libReactant }} libReactant - assertions=${{ matrix.assertions }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'min'
          - '1'
          - 'pre'
          - 'nightly'
        os:
          - ubuntu-20.04
          - macOS-latest
        arch:
          - x64
        assertions:
          - false
        libReactant: [packaged]
        include:
          - os: ubuntu-20.04
            arch: x64
            libReactant: packaged
            version: '1.10'
            assertions: true
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        if: ${{ ! matrix.assertions }}
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/checkout@v4
        if: ${{ matrix.assertions }}
        with:
          repository: 'JuliaLang/julia'
          ref: release-${{ matrix.version }}
          path: 'julia'
      - name: Compile Julia
        if: ${{ matrix.assertions }}
        run: |
          sed -i.bak 's/exit 2/exit 0/g' julia/deps/tools/jlchecksum
          make -C julia -j $(nproc) FORCE_ASSERTIONS=1 LLVM_ASSERTIONS=1 JULIA_PRECOMPILE=0
          echo $PWD/julia/usr/bin >> $GITHUB_PATH
      - uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Build libReactant
        if: ${{ matrix.libReactant == 'local' && matrix.os != 'macOS-latest'}}
        id: build_libreactant
        run: |
          python -m pip install numpy
          julia --project=deps -e 'using Pkg; Pkg.instantiate()'
          julia --project=deps deps/build_local.jl
          cp LocalPreferences.toml test/
      - name: Build libReactant MacOS
        if: ${{ matrix.libReactant == 'local' && matrix.os == 'macOS-latest'}}
        id: build_libreactant_mac
        run: |
          python -m pip install numpy
          julia --project=deps -e 'using Pkg; Pkg.instantiate()'
          SDKROOT=`xcrun --show-sdk-path` julia --project=deps deps/build_local.jl
          cp LocalPreferences.toml test/
      - uses: julia-actions/julia-runtest@v1
        # if: steps.buildpkg.outcome == 'success'
        id: run_tests
        env:
          JULIA_PKG_SERVER_REGISTRY_PREFERENCE: eager
      - uses: julia-actions/julia-processcoverage@v1
        if: steps.run_tests.outcome == 'success'
      - uses: codecov/codecov-action@v1
        if: steps.run_tests.outcome == 'success'
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop([PackageSpec(path=pwd()), PackageSpec("Reactant_jll")])
            Pkg.instantiate()'
        env:
          JULIA_PKG_SERVER_REGISTRY_PREFERENCE: eager
      - run: |
          julia --project=docs -e '
            using Documenter: DocMeta, doctest
            using Reactant
            DocMeta.setdocmeta!(Reactant, :DocTestSetup, :(using Reactant); recursive=true)
            doctest(Reactant)'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
