name: CI

on:
  pull_request:
    paths:
      - ".github/workflows/CI.yml"
      - "ext/**"
      - "lib/**"
      - "src/**"
      - "test/**"
      - "Project.toml"
  push:
    branches:
      - main
      - release-*
    tags: ["*"]
    paths:
      - ".github/workflows/CI.yml"
      - "ext/**"
      - "lib/**"
      - "src/**"
      - "test/**"
      - "Project.toml"

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.10"
          - "1.11"
          # - 'nightly'
        os:
          - ubuntu-24.04
          # `ubuntu-22.04-arm` is considered more stable than `ubuntu-24.04-arm`:
          # <https://github.com/orgs/community/discussions/148648#discussioncomment-12099554>.
          - ubuntu-22.04-arm
          # Disable `macOS-13` until
          # <https://github.com/EnzymeAD/Reactant.jl/issues/867> is resolved.
          # - macOS-13
          - macOS-latest
          - windows-latest
          - linux-x86-ct6e-180-4tpu
        test_group:
          - core
          - neural_networks
          - integration
        runtime:
          - "pjrt"
          - "ifrt"
        exclude:
          - os: linux-x86-ct6e-180-4tpu
            version: "1.10"
          - os: linux-x86-ct6e-180-4tpu
            runtime: "pjrt"
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      runtime: ${{ matrix.runtime }}
      test_group: ${{ matrix.test_group }}

  # This has been broken for a while, originating from CUDA.jl
  # test-assertions:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       version:
  #         - "1.10"
  #       test_group:
  #         - core
  #         - neural_networks
  #         - integration
  #   uses: ./.github/workflows/CommonCI.yml
  #   with:
  #     julia_version: ${{ matrix.version }}
  #     os: "ubuntu-24.04"
  #     runtime: "both"
  #     assertions: true
  #     test_group: ${{ matrix.test_group }}

  downgrade:
    strategy:
      fail-fast: false
      matrix:
        test_group:
          - core
          - neural_networks
          - integration
        runtime:
          - "pjrt"
          - "ifrt"
    uses: ./.github/workflows/CommonCI.yml
    with:
      julia_version: "1.10"
      os: "ubuntu-24.04"
      runtime: ${{ matrix.runtime }}
      test_group: ${{ matrix.test_group }}
      downgrade_testing: true
