name: Common Reactant CI Workflow

on:
  workflow_call:
    inputs:
      julia_version:
        description: "Julia version"
        required: true
        type: string
      os:
        description: "OS"
        required: true
        type: string
      runtime:
        description: "XLA Runtime (pjrt | ifrt | both)"
        required: true
        type: string
      assertions:
        description: "Enable assertions"
        required: false
        default: false
        type: boolean
      localjll:
        description: "Use local libReactant"
        required: false
        default: false
        type: boolean
      test_group:
        description: "Test group"
        required: false
        default: "all"
        type: string
      downgrade_testing:
        description: "Downgrade testing"
        required: false
        default: false
        type: boolean

jobs:
  test:
    runs-on: ${{ inputs.os }}
    container:
      image: ${{ contains(inputs.os, 'linux') && 'ghcr.io/enzymead/reactant-docker-images:main' || '' }}
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
        if: ${{ startsWith(inputs.os, 'ubuntu-') && inputs.localjll }}
      - name: Clean `/opt`
        run: sudo rm -rf /opt/*
        if: ${{ startsWith(inputs.os, 'ubuntu-') && inputs.localjll }}

      - uses: actions/checkout@v6
        with:
          repository: LuxDL/Lux.jl
          ref: ap/dump_performance_numbers

      - name: Set TMPDIR and create directory
        # We have to use `${GITHUB_WORKSPACE}` instead of `github.workspace` because GitHub
        # is terrible and the two don't match inside containers:
        # https://github.com/actions/runner/issues/2058
        if: ${{ !startsWith(inputs.os, 'windows-') }}
        run: |
          export TMPDIR="${GITHUB_WORKSPACE}/tmp"
          mkdir -p "$TMPDIR"
          echo "TMPDIR=$TMPDIR" >> $GITHUB_ENV

      - uses: julia-actions/setup-julia@v2
        if: ${{ ! inputs.assertions }}
        with:
          version: ${{ inputs.julia_version }}

      - name: Prepare runtime directory for Upterm socket
        run: |
          export XDG_RUNTIME_DIR="/run/user/0"
          mkdir -p "$XDG_RUNTIME_DIR/upterm"
          chmod -R 700 "$XDG_RUNTIME_DIR"

      - name: Run and dump xprof
        run: |
          julia --threads=auto examples/Qwen3/generate_dumps.jl
          zip -r traces.zip examples/Qwen3/traces

      # - name: Install tmux
      #   run: |
      #     apt-get update && apt-get -y install tmux

      # - name: Setup upterm session
      #   uses: owenthereal/action-upterm@v1
      #   with:
      #     limit-access-to-actor: true
      #     limit-access-to-users: avik-pal
      #     wait-timeout-minutes: 30

      - name: "Upload MLIR modules"
        uses: actions/upload-artifact@v5
        timeout-minutes: 10
        if: always()
        with:
          name: "mlir-${{ inputs.julia_version }}-${{ inputs.os }}-${{ inputs.runtime }}-assertions=${{ inputs.assertions }}-${{ github.event_name }}-test_group=${{ inputs.test_group }}-${{ inputs.localjll }}"
          path: "**/*.zip"
          retention-days: 5
          overwrite: false


env:
  JULIA_PKG_SERVER_REGISTRY_PREFERENCE: eager
  XLA_FLAGS: "--xla_force_host_platform_device_count=12"
  JULIA_DEBUG: "Reactant,Reactant_jll"
