name: Format Suggestions

on:
  push:
    branches:
      - main
    tags: '*'
    paths:
      - '.github/workflows/format-check.yml'
      - '**/*.jl'
  pull_request:
    paths:
      - '.github/workflows/format-check.yml'
      - '**/*.jl'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-style-julia:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v4
        with:
          version: '1'
