name: Format Suggestions

on:
  push:
    branches:
      - main
    tags: '*'
    paths:
      - '.github/workflows/format-check-cpp.yml'
      - '**/*.cpp'
      - '**/*.h'
  pull_request:
    paths:
      - '.github/workflows/format-check-cpp.yml'
      - '**/*.cpp'
      - '**/*.h'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-style-cpp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DoozyX/clang-format-lint-action@v0.20
        with:
          source: 'deps'
