name: Regenerate MLIR Bindings
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  make:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.10'
      - uses: julia-actions/cache@v2
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: Install JuliaFormatter.jl
        shell: julia --color=yes {0}
        run: |
          import Pkg
          Pkg.add("JuliaFormatter")
      - run: julia --project=. -e 'using Pkg; pkg"instantiate"'
        working-directory: ./deps/ReactantExtra
        env:
          JULIA_DEPOT_PATH: ${{ runner.temp }}/julia_depot
      - run: julia make-bindings.jl
        working-directory: ./deps/ReactantExtra
        env:
          JULIA_DEPOT_PATH: ${{ runner.temp }}/julia_depot
      - run: |
          chmod -R u+rw ./src/mlir/Dialects/
          chmod u+rw ./src/mlir/libMLIR_h.jl
      - name: Format code
        shell: julia --color=yes {0}
        run: |
          using JuliaFormatter
          format("./src/mlir/Dialects/")
          format("./src/mlir/libMLIR_h.jl")
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Regenerate MLIR Bindings
          title: 'Regenerate MLIR Bindings'
          branch: regenerate-mlir-bindings
          delete-branch: true
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
